$background: #0667b8;


//import all partial files
@import 'partialStyles/filter';
@import 'partialStyles/footer';
@import 'partialStyles/header.scss';

.btn {
    font-size: 25px;
    padding: 10px;
    width: 200px;
    background-color: $background;
    border: none;
    border-radius: 10px;
   
    outline: none;
    cursor: pointer;
}

.Book-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    width: 400px;
    height: 200px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    margin: 25px;
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
   
    .img-square-wrapper{
        width: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover !important;
        }
        // border: 1px solid #555;
       
        
       
    }
    .card-body{
        text-decoration: none;
        background-color: rgb(226, 226, 226);
        list-style: none;
        width: 100%;
        padding: 20px 15px;
        object-fit: cover;
        li{
            text-align: left;
            span{
                color: rgb(7, 66, 7);
                justify-content: center;

            }
           
        }
        
    
    }
}



@media screen and (min-width: 700px) and (max-width: 980px) {
  
    .Book-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
    
            margin: 0 auto;
            overflow: hidden;
        }
    
}
@media screen and (max-width: 650px) {
    .Book-container{
        display: grid;
            grid-template-columns: 1fr;
         
            margin: 0 auto;
            overflow: hidden;
    }
}