$background: #0667b8;


//import all partial files
@import 'partialStyles/filter';
@import 'partialStyles/footer';
@import 'partialStyles/header.scss';

.btn {
    font-size: 25px;
    padding: 10px;
    width: 200px;
    background-color: $background;
    border: none;
    border-radius: 10px;
   
    outline: none;
    cursor: pointer;
}

.Book-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    width: 400px;
    height: 200px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    margin: 25px;
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
   
    .img-square-wrapper{
        width: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover !important;
        }
        // border: 1px solid #555;
       
        
       
    }
    .card-body{
        text-decoration: none;
        background-color: rgb(226, 226, 226);
        list-style: none;
        width: 100%;
        padding: 20px 15px;
        object-fit: cover;
        li{
            text-align: left;
            span{
                color: rgb(7, 66, 7);
                justify-content: center;

            }
           
        }
        
    
    }
}



@media screen and (min-width: 700px) and (max-width: 980px) {
  .container{
    .Book-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            min-height: 100vh;
            margin-left: -10px;
            padding: 0;
            overflow: hidden;
        }
  

  .popup-container {
      position: fixed;
      background: #00000050;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;

      .genre {
          .ultag-genre {
              list-style: none;
              display: flex;
              justify-content: space-around;
              align-items: center;

              li {
                  width: 100px;
                  margin-left: 25px;
                  background-color: #dedede;
                  padding: 15px;
                  cursor: pointer;
              }
          }
      }

      .popup-content {

          position: relative;
          width: 40%;
          margin: 0 auto;
          height: auto;
          max-height: 70vh;

          margin-top: calc(100vh - 85vh - 20px);
          background: #fff;
          border-radius: 4px;
          padding: 30px;
          border: 1px solid #999;
          overflow: auto;
          z-index: 999;
      }
           .pop-footer {
               display: flex;
               float: right;
               
               .align-btn {
                   width: 150px;
                   padding: 7px 8px;
                //    margin: 0 20px;
                   margin-top: 15px;
                   margin-left: 20px;
               }
    
           }
  }

  }
}
@media screen and (max-width: 580px) {
    .container{
        width: 100%;
        display: grid;
        min-height: 100vh;
        margin-left: -10px;
        padding: 0;
        // margin-right: 25px;
        grid-template-columns: 1fr;
        overflow: hidden;
        
    .Book-container{
    grid-template-columns: 1fr;
       margin-left: 20px;
    //    padding: 15px;
       width: 100% !important;
       justify-content: center;
    }

        .header {
    
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            // width: 100%;
            box-shadow: 6px 6px 5px #aaaaaa;
    
            width: 100% !important;
            justify-content: center;
            overflow: hidden;
    
        }

.footer-container {
    display: flex;
    // margin: 15px 50px;
    justify-content:center;
    button {
        // display: inline !important;
        // font-size: 20px;
        margin: 15px 20px;
        padding: 0 12px;
        background-color: $background;
        border: none;
        outline: none;
        border-radius: 3px;
    }
}

.popup-container{
    position: fixed;
        background: #00000050;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        .genre {
                .ultag-genre {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
        
                    li {
                        width: 100px;
                        margin-top: 15px;
                        margin-left: -10px;
                        background-color: #dedede;
                        padding: 15px;
                        cursor: pointer;
                    }
                    label{
                       
                                width: 100px;
                                margin-top: 15px;
                                margin-left: -10px;
                                background-color: #dedede;
                                padding: 15px;
                                cursor: pointer;
                           
                    }
                }
            }
        .popup-content {
               
                position: relative;
                width: 40%;
                margin: 0 auto;
                height: auto;
                max-height: 70vh;
                
                margin-top: calc(100vh - 85vh - 20px);
                background: #fff;
                border-radius: 4px;
                padding: 30px;
                border: 1px solid #999;
                overflow: auto;
                z-index: 999;
        }
                 .pop-footer {
                     display: flex;
                     float: right;
                     flex-direction: column;
                     flex-wrap: wrap;
        
                     .align-btn {
                         width: 150px;
                         padding: 7px 8px;
                         margin: 0 20px;
                         margin-top: 15px;
                     }
        
                 }
}

}
}