//Popup window Style
.popup-container {

    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    // width: 100%;
    // height: 100%;
    // background-color: black;
    // opacity: 0.7;
    // position: absolute;
    // // where position place when give absolute
    // top: 100px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // z-index: 999;
    .popup-content {

        position: relative;
        width: 40%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background: #fff;
        border-radius: 4px;
        padding: 30px;
        border: 1px solid #999;
        overflow: auto;
        z-index: 999;
        // width: 500px;
        // height: 300px;

        // background-color: white;
        // opacity: 1;

        

        .filter-heading {
            font-size: 20px;
            margin: 15px 25px;
            padding: 7px 10px;
            background-color: #0070BF;
        }

        .ultag-genre {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            li {
                width: 100px;
                background-color: #dedede;
                padding: 15px;
                cursor: pointer;
            }
          
           
            input[type="radio"]{display: none;}
            label{
                margin-left: 10px;
                padding: 15px 0;
                padding-left: 14px;
                width: 200px;
                // height: 70px;
                background-color: #dedede;
                // padding: 15px;
                cursor: pointer;
            }
            span{
                width: 200px;
                // background-color: #dedede;
                padding-left: 15px;
                margin: 15px 20px;
                cursor: pointer;
            }
//             input[type="radio"]:checked ~ label{
//                 span{
// background-color: goldenrod;
//                 }
               
//             }
                
            // }
            // label:hover {
            //     background:green;
            //   }
            // .GAINSBORO{
            //     background-color: #dedede;
            // }
            // .green{
            //     background-color: green;
            // }
        }

        .genre {
            .ultag-genre {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                li {
                    width: 100px;
                    background-color: #dedede;
                    padding: 15px;
                    cursor: pointer;
                }
            }
        }
    }

    .pop-footer {
        display: flex;
        float: right;

        .align-btn {
            width: 150px;
            padding: 7px 8px;
            margin: 0 20px;
            margin-top: 15px;
        }

    }
}