.footer-container {
    display: flex;
    margin: 15px 50px;
    justify-content: space-around;

    .page-selection {
        font-size: 20px;
        //    padding: 8px;
        width: 50px;
    }

    .footer-button {
        button {
            display: inline !important;
            font-size: 20px;
            margin: 0 20px;
            padding: 0 12px;
            background-color: $background;
            border: none;
            outline: none;
            border-radius: 3px;
        }

    }
}

// @media screen and (max-width: 480px) {
//     .footer-container {

//         display: flex;
//         justify-content: space-between;
//         flex-direction: column;
//         // width: 100%;
       
//         margin: 0 auto;
//         overflow: hidden;

//     }
// }

// @media screen and (max-width: 780px) {
//     .footer-container {

//         display: flex;
//         justify-content: space-between;
//         flex-direction: column;
//         margin: 0 auto;
//         overflow: hidden;

//     }
// }