.header {
    display: flex;
    justify-content: space-between;

    // width: 100%;
    box-shadow: 6px 6px 5px #aaaaaa;

    .mr-btn {
        margin: 18px 75px 5px 75px;
    }

    .search-container {
        color: #555;
        display: flex;
        margin: 18px 75px 5px 75px;
        border-radius: 5px;

        input[type="search"] {
            border: none;
            background: transparent;
            margin: 0;
            width: 300px;
            padding: 7px 8px;
            font-size: 18px;
            color: inherit;
            border: 2px solid black;

            border-radius: 5px 0 0 5px;

        }

        .search-icon {
            text-indent: -999px;
            overflow: hidden;

            height: 28px;
            font-size: 25px;
            padding: 10px 8px;
            margin: 0;
            border: 1px solid black;
            border-radius: 0 5px 5px 0;
            background-color: $background;
            cursor: pointer;

        }

    }

}

@media screen and (max-width: 700px) {
    .header {
        
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            // width: 100%;
            box-shadow: 6px 6px 5px #aaaaaa;

            margin: 0 auto;
            overflow: hidden;
        
    }
}

@media only screen and (min-width: 780px) and (max-width: 980px) {
    .header {

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        // width: 100%;
        box-shadow: 6px 6px 5px #aaaaaa;

        margin: 0 auto;
        overflow: hidden;
        .search-container{
            flex-wrap: wrap;
            overflow: hidden;
        }
    }
}